{%extends "base.html.twig"%}

{%block titulo%}Osiris: Home{%endblock%}

{%block stylesheet %}

<link href="{{asset('bundles/common/css/parsley/field-alert.css')}}" rel="stylesheet">

<style type="text/css">
        body {
            padding-top: 100px;
        }

        .alert-success{
            max-width: 95%;
            margin: 0 auto 20px;
        }

        .form-signin {
            max-width: 400px;
            margin-top: 200px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

        input.parsley-success
        {
            color: #468847 !important;
            background-color: #DFF0D8 !important;
            border: 1px solid #D6E9C6 !important;
        }


        input.parsley-error
        {
            color: #B94A48 !important;
            background-color: #F2DEDE !important;
            border: 1px solid #EED3D7 !important;
            margin-bottom: 0px;
            padding: 0px 0px;
        }


        ul.parsley-error-list
        {
            font-size: 11px;
            font-family: arial;
            margin: -10px;
            margin-bottom: 10px;
            margin-left: 2px;
            list-style-type:none; 
        }

        ul.parsley-error-list li
        {
            line-height: 11px;
        }


    </style>
{%endblock%}


    
    
{% block container %}

    {% if name is defined %}

    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Usuário Logado: {{ name }}</strong>
    </div>
    
    {% endif %}   

{% endblock %}

{%block controlbuttons%}    
    <div class='top-account-control visible-desktop'>
        <a href="{{path('login_login_logout')}}" class="top-create-account">Sair</a>
        <a href="{{path('dashboard_course_homepage')}}" class="top-dashboard">Dashboard</a>
    </div>

    <form id="frm_login" method="POST" action="{{path('dashboard_course_homepage')}}" data-validate="parsley">
        <div class='login-box'>
            <a class='close login-box-close' href='#'>&times;</a>
            <h4 class='login-box-head'>Perfil</h4>
            <div class='control-group'>
                <label>Informações do Usuário</label>
                <!--input type="text" class="input-block-level" placeholder="Nome do usuário" name="username" data-trigger="change" data-minlength="6" data-required="true"-->
            </div>
            <div class='control-group'>
                <div class='login-actions'>
                    <button class='btn btn-primary'>Detalhar</button>
                </div>
            </div>        
        </div>
    </form>  
{% endblock %}

{% block footer%}
{% endblock%}
